extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Janaina Figueira 

        p Full Stack JavaScript Developer


        .about-bio

          p  Janaina Figueira has spent her life using her personal and career experiences to try to solve problems and answer difficult questions. From 40,000 pieces puzzles to planning and developing projects for complex sociological challenges,  now she is expanding her horizons.
            br
          p With a PhD degree in Screen and Media culture and curious about what happens behind the screens, she decided to dive into coding and learn some programming languages. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +33 7 67 89 74 27
          li figueira.janaina@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/janainafigueira/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Janainaf', target="_blank") GitHub
        a.btn-link(href='https://www.instagram.com/brasileiros_em_paris/',target="_blank") Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back