extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome stranger! 

    p Here are some projects I have been working on. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each val in data
        .cell
          a(href='/projects/'+ (val.id))
            img.thumbnail(src='/' + val.image_url[0], alt='')
            h5= val.project_name



    
