<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel="shortcut icon", href="#")

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/03.jpeg', alt='my photo')
        .dev-intro-box

          h5 Janaina Figueira

          p  Janaina herself "liked the variables best. She liked the way the solution to one problem created another problem further down the line, so that you had to think up something else, and that in turn created another problem to solve. It was an exchange, backwards and forwards. Some men thought it was a war, but to her it was more like a conversation" 
              br
          p She also loves to steal quotes (but never without giving credit), like the one above from Grenville, The Idea of Perfection.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Janaina Figueira

      block content

  script(src='/static/js/script.js')